{% extends "layout.html" %}

{% block title %}随便看看{% endblock %}
{% block css %}<link rel="stylesheet" href="static/css/jqcloud.css" />{% endblock %}
{% block js %}
<script src="static/js/jqcloud-1.0.4.min.js"></script>
{% include "common.html" %}
<script>
$.ajax({
  type: "GET",
  url: "/api/shuffle",
  dataType: "json",
  success: function(data){
    data = data.data;
    if(data.error == false){
      var word_array = [],
	      tags = data.tags;
      for(i=0;i<tags.length;i++){
	    word_array.push({text: tags[i]['tag'], weight: tags[i]['per']});			  
	  }
      $(function(){
        var $tags_part = $("#tags_part");
        $tags_part.jQCloud(word_array);
        $("<button type='button' class='btn btn-info btn-sm' id='capture' onclick=cap_function()>分享到新浪微博</button>").insertAfter($tags_part);
      });
	}
  },
  error: function(XMLHttpRequest, textStatus, errorThrown){
    console.log(textStatus)
  }        
});
</script>
{% endblock %}


{% block content %}
<div id="tags_part"></div>
{% endblock %}
